#MPLTK=/Users/smarti/Library/Python/3.10/lib/python/site-packages/mpl_toolkits
#export PYTHONPATH=$MPLTK:$PYTHONPATH

lmp=/Users/smarti/Devel/lammps
export DYLD_LIBRARY_PATH=$lmp:$DYLD_LIBRARY_PATH
export PYTHONPATH=$lmp/github/python/build/lib:$PYTHONPATH

#export PYTHONPATH=/Users/smarti/Devel/plumed2/dist/lib/plumed/python:$PYTHONPATH
