cwd=/Users/smarti/Devel/ren-qm3

export PYTHONPATH=$cwd:$PYTHONPATH

MPLTK=/Users/smarti/Library/Python/3.9/lib/python/site-packages/mpl_toolkits

export PYTHONPATH=$MPLTK:$PYTHONPATH

lmp=/Users/smarti/Devel/lammps
export DYLD_LIBRARY_PATH=$lmp:$DYLD_LIBRARY_PATH
export PYTHONPATH=$lmp/github/python/build/lib:$PYTHONPATH
